@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
.lp{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem, 1fr));
    background: linear-gradient(45deg, rgb(66, 110, 221), rgb(107, 206, 221),#ffffff);
  
   
}


  #e{
    filter: contrast(1);
  }

.comp{
    width:60%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
#el{
    font-size: 150px;
    color: rgb(247, 245, 249);
    font-family: 'Quantico', sans-serif;

}
#lc{
    padding-right: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 160px;
    background: #fff;
    padding-bottom: 30px;
   height:450px;
    width:400px;
    border-radius: 10px;
    filter: brightness(1.3);
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease; 
    /* background-image: linear-gradient(to right, rgb(70, 66, 66) , rgb(205, 205, 193)); */
}

.container:hover {
    transform: scale(1.1);
  }
  

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    
}

.text{
    margin-top: 50px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 0;
}

.underline{
    width: 55px;
    height: 4px;
    padding-top: 0;
    background: #6a7c9f;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 25px;
}

.input{
    /* display: flex; */
    align-items: center;
    margin-top: 0;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #eaeaea;
    border-radius: 18px;
}

.input img{
    margin: 0px 10px;
}

.input input{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #0c0c0c;
    font-size: 15px;
}

.forgot-password{
    padding-left: 200px;
    
    margin-top: 5px;
    color: #dce0ee;
    font-size: 12px;
}
.forgot-password span{
    text-decoration: underline;
    color: rgb(247, 244, 251);
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #454446;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}
.log-btn{
    background-color: rgb(30, 57, 144);
    border: 0ch;
    border-radius: 25px;
    height: 35px;
    padding-top: 0%;
    width: 80px;
    font-size: 25px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.log-btn:hover{
    background-color: rgb(46, 148, 182);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
.login-btn{
   padding-top: 20px;
    
}
.already{
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    color: white;
    font-size: small;

}
/* #r{
    text-decoration: underline;
    color:rgb(103, 153, 171);
    cursor: pointer;
    
} */